.statusDiv{

}

#accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    padding: 4px;
    gap: 4px;
}

.accordion-data{
    background-color: transparent;
    border: 1px solid #171717;
}